body{background-color: #6aa3ac;}
background: #elf3fl; 
padding: 50px;
}


p{color: rgb(93, 152, 197);} 
body {background-color: #6daece;}

h1,
h2,
h3{
    color: #1d1184;
    font-family:sans-serif;
}
img{
    width: 200px;
}
